@font-face {
    font-family: "MinecraftRegular";
    src: url("assets/fonts/MinecraftRegular.otf");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    /* border-radius: 20px; */
}

body {
    /* #506184*/
    font-family: "Roboto";
    margin: 0.5em;
    height: calc(100% - 1em);
    /* border-radius: 20px; */
    overflow: hidden;
}

.dark-mode {
    background-color: rgb(41, 41, 41);
    color: #daf0ee;
}

.light-mode {
    background-color: #daf0ee;
    /* border-width: 3px;
    border-radius: 20px;
    border-color: #ffffff; */
    color: #3b413c;
}

/* 
Header Things 
*/

header {
    /* position: fixed; */
    top: 0;
    display: flex;
    flex-direction: row;
    color: #94d1be; 
    padding: 0.25em;
    height: 4em;
    -webkit-app-region: drag;
}

header h1 {
    margin: auto 0.25em auto 0.25em;
    font-family: "Mohave";
    font-size: 3em;
    vertical-align: middle;
}

.header-button {
    -webkit-app-region: no-drag;
    transition: all 0.25s;
    font-size: 3em;
    cursor: pointer;
}

.header-button:hover {
    transform: scale(110%);
}

#notice-text {
    color: red;
}


/* 
Table Things
*/

#main-table {
    font-family: "MinecraftRegular";
    background-color: rgba(0, 0, 0, 0.75);
    color: #daf0ee;
    border-radius: 0.5em;
    padding: 0.25em;
    margin: 0 auto 0 auto;
}

#main-table th {
    /* text-align: center; */
    padding-left: 1em;
    padding-right: 1em;
    /* font-size: 3em; */
}

.centered {
    text-align: center;
}

.nick {
    color: red;
}

.playerName {
    min-width: 13em;
}

/* settings stuff */

#settings {
    top: -15em;
    position: absolute;
    /* background-color: #daf0ee; */
    background-color: rgba(0, 0, 0, 0.9);
    color: #daf0ee;
    padding: 1em;
    margin: 0 2em 0 2em;
    border-radius: 0.5em;
    height: 13em;
    width: calc(100% - 2em - 4em - 1em); /* 100 percent minus the padding minus the margin minus the body margin */
}

#settings-button {
    transition: all 0.25s;
    /* transform: rotate(0deg); */
}

#settings-button-container {
    margin: auto 0.25em auto auto;
}

#settings-button-container:hover {
    transform: scale(110%);
}

#exit-button {
    margin: auto 0.25em auto 0;
    font-size: 3.5em;
}

/* button {
    border: none;
} */

.clicked {
    /* transition: all 1s; */
    color: #334942;
    /* transform: rotate(180deg); */
}

#misc-footer {
    bottom: 0;
    position: absolute;
    width: calc(100% - 1em);
    padding-bottom: 1em;
    /* border-radius: 20px;
    border-color: white;
    border-width: 5px; */
}


