@font-face {
    font-family: "MinecraftRegular";
    src: url("assets/fonts/MinecraftRegular.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #daf0ee;
    color: #3b413c; 
    /* #506184*/
    font-family: "Roboto";
}

header {
    /* position: fixed; */
    top: 0;
    display: flex;
    flex-direction: row;
    color: #94d1be; /*
    border-style: solid;
    border-color: #9db5b2;
    border-width: 0.25em;
    border-radius: 1em;*/
    padding: 5px;
    height: 4em;
}

header h1 {
    margin: auto 0.25em auto 0.25em;
    font-family: "Mohave";
    font-size: 3em;
    vertical-align: middle;
}

#main-table {
    font-family: "MinecraftRegular";
    background-color: rgba(0, 0, 0, 0.5);
    color: #daf0ee;
    border-radius: 0.5em;
    padding: 0.25em;
}

#main-table th {
    /* text-align: center; */
    padding-left: 1em;
    padding-right: 1em;
}

#notice-text {
    color: red;
}

#settings-button {
    transition: all 1s;
    font-size: 3em;
    /* transform: rotate(0deg); */
}

#settings-button-container {
    margin: auto 0.25em auto auto;
    cursor: pointer;
    transition: all 1s;
}

#settings-button-container:hover {
    transform: scale(110%);
}

.clicked {
    /* transition: all 1s; */
    color: white;
    /* transform: rotate(180deg); */
}

.nick {
    color: red;
}

#settings {
    margin-top: 50px;
}

